ENV=LOCAL
STORAGE=LOCAL
CORS_ORIGINS=*

MODEL_SERVER_GRPC_URL=edu-model-server:8051

MYSQL_USER=local
MYSQL_PASSWORD=local_password
MYSQL_HOST=0.0.0.0
MYSQL_PORT=3306
MYSQL_DB=local

SWAGGER_USERNAME=YOUR_USERNAME
SWAGGER_PASSWORD=YOUR_PASSWORD

# INTERNAL_API_KEY ###################################################
INTERNAL_API_KEY=YOUR_SECRET_KEY

# LOCAL_STORAGE ######################################################
UPLOAD_DIR=static
SECRET_KEY=YOUR_SECRET_KEY
URL_EXPIRY_SECONDS=3600
BASE_URL=http://localhost:8000/api/v1


# REDIS CLUSTER ######################################################
RC_SEED_URL=redis:6379
RC_PASSWORD=local_password
RC_TTL=3600

DATA_SERVER_URL=http://localhost:8001/api/v1
BE_SERVER_URL=http://localhost:8000/api/v1

HCX_API_KEY=

RESPONSE_MODEL=hcx-005
GRPC_PORT=8051

PROBLEM_INDEX="Problem_opensource"
CURRICULUM_INDEX="Curriculum_opensource"

WEAVIATE_HOST=localhost
WEAVIATE_PORT=8081

EMBEDDING_TYPE=clovastudio

CLOVA_STUDIO_URL=
CLOVA_STUDIO_HOST=
CLOVA_STUDIO_API_KEY=
CLOVA_STUDIO_GW_API_KEY=
CLOVA_STUDIO_REQUEST_ID=
CLOVA_STUDIO_APP_ID=

# FIREWORKS_HOST=
# FIREWORKS_URL=
# FIREWORKS_CLIENT_ID=
# FIREWORKS_CLIENT_SECRET=
# FIREWORKS_APP_ID=
# FIREWORKS_ACCESS_TOKEN=

HUGGINGFACE_EMBEDDING_KEY=